<!--- Footer -->
<footer class='footer'>
	{% load static %}
	<div class="container padding">
		<div class="row text-center">
			<div class="col-md-3 footer_flag">
				<a href='/'>
				<img src="{% static 'image/logos/canadaflag.png' %}">
				<p>eXp Realty Ottawa</p>
				</a>
			</div>
			<div class="col-md-6">
				<div class="container">
					<div class="row">
						<div class='col-12'>
							<h5 class='footer_h5'>Neighbourhoods</h5>
						</div>
						<div class="col-6 footer_list">
							<a href='/home'><p>Alta Vista</p></a>
							<a href='/home'><p>The Glebe</p></a>
							<a href='/home'><p>Old Ottawa South</p></a>
							<a href='/home'><p>Centertown</p></a>
							<a href='/home'><p>Westboro</p></a>
						</div>
						<div class="col-6 footer_list">
							<a href='/home'><p>Barrhaven</p></a>
							<a href='/home'><p>Kanata</p></a>
							<a href='/home'><p>Orleans</p></a>
							<a href='/home'><p>Findlay Creek</p></a>
							<a href='/home'><p>Manotick</p></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 footer_list">
				<h5 class='footer_h5'>About eXp</h5>
				<a href='/home'><p>Join eXp</p></a>
				<a href='/home'><p>Find An Agent</p></a>
				<a href='/home'><p>Our Team</p></a>
			</div>
			<div class="col-12">
				<hr class="footer-hr">
				<h5 class='footer_bottom_links'>Terms and Conditions</h5>
				<h5 class='footer_bottom_links'>Privacy Policy</h5>
				<h5 class='footer_bottom_links'>Cookie Policy</h5>
				<h5 class='footer_bottom_links'>Accessibility</h5>
			</div>
			<div class="col-12 footer_social">
				<i class="fab fa-facebook-f"></i>
				<i class="fab fa-youtube"></i>
			</div>
			<div class="col-12 footer_web_brand">
				<h5>&copy; 2021 eXp Realty Ottawa.</h5>
				<h4>POWERED BY GALLEON SOFTWARE & MEDIA</h4>
			</div>
		</div>
	</div>	
</footer>